*{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Lato",sans-serif;
	color: #000;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
header{
	width: 100%;
	height: 330px;
}
.header-t{
	width: 100%;
	height: 50px;
	background: #215d64;
}
.header-t-l{
	line-height: 50px;
}
.header-t-l .mail{
	float: left;
	margin-right: 30px;
}
.header-t-l .mail span{
	font-size: 50px;
	float:right;
}
.header-t-l .mail img{
	margin-bottom: -18px;
	margin-right: 5px;
}
.mail a, .phone a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.phone{
	float: left;
}

/*header*/
.header-t-r{
	float: right;
	line-height: 50px;
}
.header-t-r ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header-t-r ul li{
	float: left;
	margin: 0 12px;
}
.header-t-r ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
}
.header-b{
	background: white;
	height: 420px;
}
.header-b img{
  width: 60%;
  padding: 10px;
  margin-right:-190px;
}
/*end-header*/
/*nav*/
nav{
	height: 60px;
	background: black;
}
nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li{
	transition: 0.4s;
	float: left;
	padding: 0 40px;
	border-right: 1px solid #ccc;
}
nav ul li:hover{
	background: #ff6666;
}
nav ul li:hover a {
        color: #fff;
        text-shadow: 2px 2px 5px #0033ff;
      }
nav ul li a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	line-height: 60px;
	font-size: 18x;
}
nav .search-box{
	float: right;
	line-height: 60px;
	margin-top: -1.5px;
}
nav .search-box input{
	padding: 7px 10px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
    margin: 0;
    width: 250px;
}
nav .search-box button{
	padding: 7px 10px;
	border-radius: 0 5px 5px 0;
	border: none;
	outline: none;
	background: #dfe4e4b9;
	color: #fff;
	margin-left: -4px;
}
/*giỏ hàng*/
.container{
	padding-bottom: 500px;
}
table{
border-collapse: collapse;
}
.ip{
	width: 500px;
	font-size: 20px;
}
.ip:hover{
	text-decoration: underline;
	cursor: pointer;
}
.tensanpham{
	width: 140px;
	height: 50px;
	font-weight: 600;
	font-size: 20px;
}
.gia{
	width: 200px;
	font-weight: 600;
}
.soluong{
	width: 150px;
	font-weight: 600;
}
.thanhtien{
	width: 200px;
	font-weight: 600;
}
.form-control{
	width: 50px;
	height: 20px;
	text-align: center;
}
.dong2{
	height: 100px;
}
.dong3{
	height: 100px;
}
.dong4{
	height: 50px;
}
.dong2:hover{
	background-color: #e9e9e9;
}
.dong3:hover{
	background-color: #e9e9e9;
}
.tieptuc{
	height: 35px;
	width:150px;
	border-radius: 5px;
	background-color: #FF9933;
	font-weight:600;
	color: white;
	cursor: pointer;
	border: 1px solid #FF9933;
}
.thanhtoan{
	height: 35px;
	width: 100px;
	border-radius: 5px;
	background-color: #33ff33;
	font-weight: 600;
	color: white;
	cursor: pointer;
	border: 1px solid #33ff33 ;
}
.tongtien{
	width: 200px;
	font-weight: 600;
}
.ttmuahang{
	text-decoration: none;
	color: white;
}